.button_save {
    background: #000;
    color: #fff;
  }
  
  .button_save:hover {
    box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
    -webkit-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
    color: #fff;
    cursor: not-allowed;
  }
  
  .spinner_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .button_save:disabled {
    color: #36393f;
  }