.button_save {
    background: #000;
    color: #fff;
}

.button_save:hover {
    background: #000;
    color: #fff;
}

.btn_delete:hover {
    color: #fff;
    background: #ee5253;
    transition: 200ms ease-in;
}

.btn_edit:hover {
    color: #fff;
    background: #54a0ff;
    transition: 200ms ease-in;
}

